<div class="page-width">
    <h1 class="h1">
        {{ page.title | escape }}
    </h1>

    <div style="padding: 3rem 0; background: aliceblue; padding: 1rem">
        <h2>Colors</h2>
        <div class="color-swatches-styleguide grid">
            <div class="swatch brand-black grid__item">
                <div class="info-block">
                    <span>Frye Black</span>
                    <br />
                    <span>(--color-styleguide-black)</span>
                    <br />
                    <span>#000000</span>
                </div>
            </div>
            <div class="swatch brand-charcoal grid__item">
                <div class="info-block">
                    <span>Frye Charcoal</span>
                    <br />
                    <span>(--color-styleguide-charcoal)</span>
                    <br />
                    <span>#262626</span>
                </div>
            </div>
            <div class="swatch brand-darkgray grid__item">
                <div class="info-block">
                    <span>Frye Dark Gray</span>
                    <br />
                    <span>(--color-styleguide-darkgray)</span>
                    <br />
                    <span>#808080</span>
                </div>
            </div>
            <div class="swatch brand-gray grid__item">
                <div class="info-block">
                    <span>Frye Gray</span>
                    <br />
                    <span>(--color-styleguide-gray)</span>
                    <br />
                    <span>#CCCCCC</span>
                </div>
            </div>
            <div class="swatch brand-lightgray grid__item">
                <div class="info-block">
                    <span>Frye Light Gray</span>
                    <br />
                    <span>(--color-styleguide-lightgray)</span>
                    <br />
                    <span>#CCC</span>
                </div>
            </div>
            <div class="swatch brand-white grid__item">
              <div class="info-block">
                  <span>Frye White</span>
                  <br />
                  <span>(--color-styleguide-white)</span>
                  <br />
                  <span>#FFFFFF</span>
              </div>
          </div>
            <div class="swatch brand-darkbrown grid__item">
                <div class="info-block">
                    <span>Frye Dark Brown</span>
                    <br />
                    <span>(--color-styleguide-darkbrown)</span>
                    <br />
                    <span>#7B3F2A</span>
                </div>
            </div>
            <div class="swatch brand-brown grid__item">
                <div class="info-block">
                    <span>Frye Brown</span>
                    <br />
                    <span>(--color-styleguide-brown)</span>
                    <br />
                    <span>#9D5A18</span>
                </div>
            </div>
            <div class="swatch brand-bright-tan grid__item">
                <div class="info-block">
                    <span>Frye Bright Tan</span>
                    <br />
                    <span>(--color-styleguide-bright-tan)</span>
                    <br />
                    <span>#BE8756</span>
                </div>
            </div>
            <div class="swatch brand-badge-tan grid__item">
                <div class="info-block">
                    <span>Frye Badge Tan</span>
                    <br />
                    <span>(--color-styleguide-badge-tan)</span>
                    <br />
                    <span>#9F7362</span>
                </div>
            </div>
            <div class="swatch brand-tan grid__item">
                <div class="info-block">
                    <span>Frye Tan</span>
                    <br />
                    <span>(--color-styleguide-tan)</span>
                    <br />
                    <span>#BE9B7B</span>
                </div>
            </div>
            <div class="swatch brand-light-tan grid__item">
                <div class="info-block">
                    <span>Frye Light Tan</span>
                    <br />
                    <span>(--color-styleguide-light-tan)</span>
                    <br />
                    <span>#F2EDE6</span>
                </div>
            </div>
            <div class="swatch brand-red grid__item">
                <div class="info-block">
                    <span>Frye Red</span>
                    <br />
                    <span>(--color-styleguide-red)</span>
                    <br />
                    <span>#C00404</span>
                </div>
            </div>
        </div>

      <h2>Typography</h2>
      <div class="typography-styleguide" style="background:black;padding: 1rem 2rem;margin:2rem 0;">

        <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
            <div>
                <p class="styleguide-heading">SweetSans Pro</p>
                <p class="styleguide-heading-1">The quick brown fox jumps over the lazy dog</p>
                <p class="styleguide-heading-2">The quick brown fox jumps over the lazy dog</p>
            </div>
        </div>
      </div>

      <div class="typography-styleguide" style="background:#F5F5F5;padding: 1rem 2rem;margin:2rem 0;">

        <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
            <div>
                <p class="styleguide-heading-3">TRADE GOTHIC</p>
                <p class="styleguide-heading-4">The quick brown fox jumps over the lazy dog</p>
            </div>
        </div>
      </div>

      <div class="typography-styleguide" style="background:white;padding: 1rem 2rem;margin:2rem 0;">

        <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
            <div>
                <p class="styleguide-heading-5">Addington CF</p>
                <p class="styleguide-heading-6">The quick brown fox jumps over the lazy dog</p>
            </div>
        </div>

      </div>

      <div class="typography-styleguide" style="background:white;padding: 1rem 2rem;margin:2rem 0;">

        <div style="display:flex; flex-wrap: wrap; gap: 3rem;">
            <div>
              <div style="margin:2rem 0 0" class="frye-headline-0">QUALITY AND CRAFT  .frye-headline-0 - X-Large</div>
              <h1 class="frye-headline-1">FALL FAVORITES  .frye-headline-1 - Large</h1>
              <h2 class="frye-headline-2">#INMYFRYE  .frye-headline-2 - Medium</h2>
              <h3 class="frye-headline-3">MEET ABBY  .frye-headline-3 - Small</h3>
              <h4 class="frye-headline-4">WOMEN'S BOOTS  .frye-headline-4 - X-Small</h4>
              <h5 class="frye-headline-5">1863  .frye-headline-5 - Tiny</h2>
              <h6 class="frye-headline-6">PRODUCT TYPE  .frye-headline-6 - Very Tiny</h6>
              <h1 class="frye-eyebrow">SHOP OUR BEST SELLING  .frye-eyebrow - Eyebrow</h1>
              <p class="frye-body">While all our products are built to last, we know that styles and moods change. That’s why we have created The Frye Exchange -  .frye-body - Body - Default</p>
              <p class="frye-body-small">Experience for yourself the Frye craftsmanship and quality that have made the Frye name synonymous with the finest -  .frye-body-small - Body - Small</p>
              <p class="frye-pullquote">With a heritage rooted in craftsmanship  .frye-pullquote - Pullquote</p>
              <p class="frye-headline-7">Sacha Chelsea  .frye-headline-7 - Custom 1</p>
              <p class="frye-headline-8">SACHA CHELSEA  .frye-headline-8 - Custom 2</p>
            </div>
        </div>

      </div>






      <h2>Buttons</h2>
      <div class="buttons-styleguide">
          <h3>Button Primary (.button.button--primary)</h3>

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p class="styleguide-heading">SweetSans Pro</p>
                  <p class="styleguide-heading-1">The quick brown fox jumps over the lazy dog</p>
                  <p class="styleguide-heading-2">The quick brown fox jumps over the lazy dog</p>
              </div>
          </div>
        </div>

        <div class="typography-styleguide" style="background:#F5F5F5;padding: 1rem 2rem;margin:2rem 0;">

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p class="styleguide-heading-3">TRADE GOTHIC</p>
                  <p class="styleguide-heading-4">The quick brown fox jumps over the lazy dog</p>
              </div>
          </div>
        </div>

        <div class="typography-styleguide" style="background:white;padding: 1rem 2rem;margin:2rem 0;">

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p class="styleguide-heading-5">Addington CF</p>
                  <p class="styleguide-heading-6">The quick brown fox jumps over the lazy dog</p>
              </div>
          </div>

        </div>

        <div class="typography-styleguide" style="background:white;padding: 1rem 2rem;margin:2rem 0;">

          <div style="display:flex; flex-wrap: wrap; gap: 3rem;">
              <div>
                <div style="margin:2rem 0 0" class="frye-headline-0">QUALITY AND CRAFT  .frye-headline-0 - X-Large</div>
                <h1 class="frye-headline-1">FALL FAVORITES  .frye-headline-1 - Large</h1>
                <h2 class="frye-headline-2">#INMYFRYE  .frye-headline-2 - Medium</h2>
                <h3 class="frye-headline-3">MEET ABBY  .frye-headline-3 - Small</h3>
                <h4 class="frye-headline-4">WOMEN'S BOOTS  .frye-headline-4 - X-Small</h4>
                <h5 class="frye-headline-5">1863  .frye-headline-5 - Tiny</h2>
                <h6 class="frye-headline-6">PRODUCT TYPE  .frye-headline-6 - Very Tiny</h6>
                <h1 class="frye-eyebrow">SHOP OUR BEST SELLING  .frye-eyebrow - Eyebrow</h1>
                <p class="frye-body">While all our products are built to last, we know that styles and moods change. That’s why we have created The Frye Exchange -  .frye-body - Body - Default</p>
                <p class="frye-body-small">Experience for yourself the Frye craftsmanship and quality that have made the Frye name synonymous with the finest -  .frye-body-small - Body - Small</p>
                <p class="frye-pullquote">With a heritage rooted in craftsmanship  .frye-pullquote - Pullquote</p>
                <p class="frye-headline-7">Sacha Chelsea  .frye-headline-7 - Custom 1</p>
                <p class="frye-headline-8">SACHA CHELSEA  .frye-headline-8 - Custom 2</p>
              </div>
          </div>
        </div>

        <h2>Buttons</h2>
        <div class="buttons-styleguide">
            <h3>Button Primary (.button.button--primary)</h3>

            <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
                <div>
                    <p>Primary (Key Path)</p>
                    <p>{% render 'button', label: 'Shop Now', size: 'large' %}</p>
                </div>
                <div>
                    <p>Primary - Hover</p>
                    <p>{% render 'button', label: 'Shop Now', size: 'large', class: 'hover' %}</p>
                </div>
                <div>
                    <p>Primary - Active</p>
                    <p>{% render 'button', label: 'Shop Now', size: 'large', class: 'active' %}</p>
                </div>
            </div>

        </div>

        <div class="buttons-styleguide" style="background:black;padding: 1rem 2rem">
          <h3 style="color:white">Primary (On Dark Backgrounds) (.button.button--primary-dark)</h3>

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p style="color:white">Primary (Key Path)</p>
                  <p>{% render 'button', label: 'Shop Now', size: 'large', variation: 'primary-dark' %}</p>
              </div>
              <div>
                  <p style="color:white">Primary - Hover</p>
                  <p>{% render 'button', label: 'Shop Now', size: 'large', variation: 'primary-dark', class: 'hover' %}</p>
              </div>
              <div>
                  <p style="color:white">Primary - Active</p>
                  <p>{% render 'button', label: 'Shop Now', size: 'large', variation: 'primary-dark', class: 'active' %}</p>
              </div>
          </div>

      </div>

        <div class="buttons-styleguide">
            <h3>Button Secondary (.button.button--secondary)</h3>

            <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
                <div>
                    <p>Secondary (Key Path)</p>
                    <p>{% render 'button', label: 'Cancel', variation: 'secondary', size: 'large'%}</p>
                </div>
                <div>
                    <p>Secondary - Hover</p>
                    <p>{% render 'button', label: 'Cancel', variation: 'secondary', size: 'large', class: 'hover' %}</p>
                </div>
                <div>
                    <p>Secondary - Active</p>
                    <p>{% render 'button', label: 'Cancel', variation: 'secondary', size: 'large', class: 'active' %}</p>
                </div>
            </div>
        </div>

        <div class="buttons-styleguide" style="background:black;padding: 1rem 2rem">
          <h3 style="color:white">Secondary (On Dark Backgrounds)  (.button.button--secondary-dark)</h3>

          <div style="color:white;display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p style="color:white">Secondary (Key Path)</p>
                  <p>{% render 'button', label: 'Cancel', variation: 'secondary-dark', size: 'large'%}</p>
              </div>
              <div>
                  <p style="color:white">Secondary - Hover</p>
                  <p>{% render 'button', label: 'Cancel', variation: 'secondary-dark', size: 'large', class: 'hover' %}</p>
              </div>
              <div>
                  <p style="color:white">Secondary - Active</p>
                  <p>{% render 'button', label: 'Cancel', variation: 'secondary-dark', size: 'large', class: 'active' %}</p>
              </div>
          </div>
      </div>

        <div class="buttons-styleguide">
          <div>
            <p>Disabled</p>
            <p>{% render 'button', label: 'Shop Now', variation: 'secondary-dark', size: 'large', class: "disabled"%}</p>
        </div>
        </div>

        <div class="buttons-styleguide">
            <h3>Link Leading to New Page (.button.button--link-1)</h3>

            <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
                <div>
                    <p>Default</p>
                    <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', arrow: 'right' %}</p>
                </div>
                <div>
                    <p>Hover</p>
                    <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', class: 'hover', arrow: 'right' %}</p>
                </div>
                <div>
                    <p>Active</p>
                    <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', class: 'active', arrow: 'right' %}</p>
                </div>
            </div>
        </div>

        <div class="buttons-styleguide" style="background:black;padding: 1rem 2rem">
          <h3 style="color:white">Link Leading to New Page - Dark Background (.button.button--link-1-dark)</h3>

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p style="color:white">Default</p>
                  <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', arrow: 'right', class: 'button--link-1-dark' %}</p>
              </div>
              <div>
                  <p style="color:white">Hover</p>
                  <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', class: 'hover button--link-1-dark', arrow: 'right' %}</p>
              </div>
              <div>
                  <p style="color:white">Active</p>
                  <p>{% render 'button', label: 'Learn About Our Heritage', variation: 'link-1', size: 'small', class: 'active button--link-1-dark', arrow: 'right' %}</p>
              </div>
          </div>
      </div>

        <div class="buttons-styleguide">
          <h3>Link to Modal or Different Page State (.button.button--link-2)</h3>

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p>Default</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small' %}</p>
              </div>
              <div>
                  <p>Hover</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'hover' %}</p>
              </div>
              <div>
                  <p>Active</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'active' %}</p>
              </div>
          </div>
        </div>

        <div class="buttons-styleguide" style="background:black;padding: 1rem 2rem">
          <h3 style="color:white">Link to Modal or Different Page State - Dark Background (.button.button--link-2-dark)</h3>

          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p style="color:white">Default</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'button--link-2-dark' %}</p>
              </div>
              <div>
                  <p style="color:white">Hover</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'hover button--link-2-dark' %}</p>
              </div>
              <div>
                  <p style="color:white">Active</p>
                  <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'active button--link-2-dark' %}</p>
              </div>
          </div>
        </div>

        <h2>Inputs</h2>
        <div class="inputs">
            <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
                <div>
                    <p>Input Field - Blank</p>
                    <div class="name-form__field-wrapper" style="margin-bottom: 2rem;">
                        <div class="field">
                            <input class="field__input input--large" value="" aria-required="true" autocorrect="off" autocapitalize="none" placeholder="Placeholder goes here" required="" type="text" /><span> </span>
                            <label class="field__label input--large" for="name-form">Placeholder label</label>
                        </div>
                    </div>
                </div>

                <div>
                    <p>Input Field - Filled</p>
                    <div class="name-form__field-wrapper" style="margin-bottom: 2rem;">
                        <div class="field">
                            <input class="field__input input--large" value="Input content here" aria-required="true" autocorrect="off" autocapitalize="none" placeholder="Placeholder goes here" required="" type="text" /><span> </span>
                            <label class="field__label input--large" for="name-form">Placeholder label</label>
                        </div>
                    </div>

                </div>
            </div>


            <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
                <div style="width: 250px">
                    <p>Dropdown Blank</p>
                    <div style="margin-bottom: 2rem;">
                        <div class="name__input--dropdown">
                            <label class="form__label" for="Option-">Select label</label>
                            <div class="select">
                                <span> </span>
                                <select class="select__select input--large" name="options[option]" form="form-name">
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="value-1">Value 1</option>
                                    <option value="value-2">Value 2</option>
                                    <option value="value-3">Value 3</option>
                                </select>
                                <span> </span>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewbox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>

                <div style="width: 250px">
                    <p>Dropdown Selected</p>
                    <div style="margin-bottom: 2rem;">
                        <div class="name__input--dropdown">
                            <label class="form__label" for="Option-">Select label</label>
                            <div class="select">
                                <span> </span>
                                <select class="select__select input--large" name="options[option]" form="form-name">
                                    <option value="value-1">Value 1</option>
                                    <option value="value-2">Value 2</option>
                                    <option value="value-3">Value 3</option>
                                </select>
                                <span> </span>
                                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewbox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>

            <h3>Radio Selectors</h3>

            <p class="inputs-set">
                <input type="radio" checked="checked" name="test-input" /><span> </span><input type="radio" name="test-input" />
            </p>

            <h3>Checkbox Selectors</h3>

            <p class="inputs-set">
                <input type="checkbox" checked="checked" /><span> </span><input type="checkbox" />
            </p>

        </div>
    </div>

      <div class="buttons-styleguide">
        <h3>Link to Modal or Different Page State (.button.button--link-2)</h3>

        <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
            <div>
                <p>Default</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small' %}</p>
            </div>
            <div>
                <p>Hover</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'hover' %}</p>
            </div>
            <div>
                <p>Active</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'active' %}</p>
            </div>
        </div>
      </div>

      <div class="buttons-styleguide" style="background:black;padding: 1rem 2rem">
        <h3 style="color:white">Link to Modal or Different Page State - Dark Background (.button.button--link-2-dark)</h3>

        <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
            <div>
                <p style="color:white">Default</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'button--link-2-dark' %}</p>
            </div>
            <div>
                <p style="color:white">Hover</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'hover button--link-2-dark' %}</p>
            </div>
            <div>
                <p style="color:white">Active</p>
                <p>{% render 'button', label: 'Notify Me When Back in Stock', variation: 'link-2', size: 'small', class: 'active button--link-2-dark' %}</p>
            </div>
        </div>
      </div>

      <h2>Inputs</h2>
      <div class="inputs">
          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div>
                  <p>Input Field - Blank</p>
                  <div class="name-form__field-wrapper" style="margin-bottom: 2rem;">
                      <div class="field">
                          <input class="field__input input--large" value="" aria-required="true" autocorrect="off" autocapitalize="none" placeholder="Placeholder goes here" required="" type="text" /><span> </span>
                          <label class="field__label input--large" for="name-form">Placeholder label</label>
                      </div>
                  </div>
              </div>

              <div>
                  <p>Input Field - Filled</p>
                  <div class="name-form__field-wrapper" style="margin-bottom: 2rem;">
                      <div class="field">
                          <input class="field__input input--large" value="Input content here" aria-required="true" autocorrect="off" autocapitalize="none" placeholder="Placeholder goes here" required="" type="text" /><span> </span>
                          <label class="field__label input--large" for="name-form">Placeholder label</label>
                      </div>
                  </div>

              </div>
          </div>


          <div style="display:flex; flex-wrap: wrap; gap: 3rem; margin-bottom: 2rem;">
              <div style="width: 250px">
                  <p>Dropdown Blank</p>
                  <div style="margin-bottom: 2rem;">
                      <div class="name__input--dropdown">
                          <label class="form__label" for="Option-">Select label</label>
                          <div class="select">
                              <span> </span>
                              <select class="select__select input--large" name="options[option]" form="form-name">
                                  <option value="" disabled selected>Select your option</option>
                                  <option value="value-1">Value 1</option>
                                  <option value="value-2">Value 2</option>
                                  <option value="value-3">Value 3</option>
                              </select>
                              <span> </span>
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewbox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                              </svg>
                          </div>
                      </div>
                  </div>

              </div>

              <div style="width: 250px">
                  <p>Dropdown Selected</p>
                  <div style="margin-bottom: 2rem;">
                      <div class="name__input--dropdown">
                          <label class="form__label" for="Option-">Select label</label>
                          <div class="select">
                              <span> </span>
                              <select class="select__select input--large" name="options[option]" form="form-name">
                                  <option value="value-1">Value 1</option>
                                  <option value="value-2">Value 2</option>
                                  <option value="value-3">Value 3</option>
                              </select>
                              <span> </span>
                              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-caret" viewbox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
                              </svg>
                          </div>
                      </div>
                  </div>
              </div>

              </div>
          </div>

          <h3>Radio Selectors</h3>

          <p class="inputs-set">
              <input type="radio" checked="checked" name="test-input" /><span> </span><input type="radio" name="test-input" />
          </p>

          <h3>Checkbox Selectors</h3>

          <p class="inputs-set">
              <input type="checkbox" checked="checked" /><span> </span><input type="checkbox" />
          </p>

      </div>
  </div>

  <style>
    .styleguide-heading {
      font-size: 1.7rem;
      font-family: var(--font-body-family);
      color: var(--color-styleguide-tan);
    }

<style>
  .styleguide-heading {
    font-size: 1.7rem;
    font-family: var(--font-body-family);
    color: var(--color-styleguide-tan);
  }

  .styleguide-heading-1 {
    font-size: 5.4rem;
    font-family: var(--font-body-family);
    line-height: 5.4rem;
    font-weight: 800;
    color: var(--color-styleguide-white)
  }

  .styleguide-heading-2 {
    font-size: 5.4rem;
    font-family: var(--font-body-family);
    line-height: 5.4rem;
    font-weight: 600;
    color: var(--color-styleguide-white)
  }

  .styleguide-heading-3 {
    font-size: 1.7rem;
    font-family: var(--font-heading-family);
    color: var(--styleguide-color-black);
  }

  .styleguide-heading-4 {
    font-size: 5.4rem;
    font-family: var(--font-heading-family);
    line-height: 5.4rem;
    font-weight: 600;
  }

  .styleguide-heading-5 {
    font-size: 1.7rem;
    font-family: var(--font-body-secondary-regular);
  }

  .styleguide-heading-6 {
    font-size: 5.4rem;
    font-family: var(--font-body-secondary-regular);
    line-height: 5.4rem;
  }

</style>

{% schema %}
{
"name": "Styleguide",
"tag": "section",
"class": "spaced-section"
}
{% endschema %}
