<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page content",
  "tag": "section",
  "class": "spaced-section section-page-content",
  "presets": [
    {
      "name": "Page content"
    }
  ]
}
{% endschema %}
