.social-media-feed header {
  text-align: center;
}

.social-media-feed .social-media-feed__heading {
  margin: 0;
  line-height: 3rem;
}

.social-media-feed .social-media-feed__description p {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}
