.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  min-height: 24rem;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.fadeInUp.active {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInLeft {
  from {
      transform: translate3d(-40px,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInLeft {
  from {
      transform: translate3d(-40px,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.fadeInLeft.active {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
      transform: translate3d(40px,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInRight {
  from {
      transform: translate3d(40px,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.fadeInRight.active {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
}

@keyframes fadeIn {
  from {
      transform: translate3d(0,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
      transform: translate3d(0,0,0);
      opacity: 0
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}
.fadeIn.active {
  opacity: 0;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@media only screen and (min-width: 750px) {
  .banner {
    min-height: 58rem;
  }
}

.banner__box {
  display: block;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .banner--desktop-transparent .banner__box {
    background-color: transparent !important;
    --color-foreground: 255, 255, 255;
    --color-button: 255, 255, 255;
    --color-button-text: 0, 0, 0;
  }
}

@media only screen and (min-width: 750px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }

  .banner--content-align-left .banner__box {
    text-align: left;
  }

  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 68rem;
  }
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom .banner__media {
    height: 28rem;
  }

  .banner--medium.banner--mobile-bottom .banner__media {
    height: 34rem;
  }

  .banner--large.banner--mobile-bottom .banner__media {
    height: 39rem;
  }

  .banner--small:not(.banner--mobile-bottom) .banner__content {
    min-height: 28rem;
  }

  .banner--medium:not(.banner--mobile-bottom) .banner__content {
    min-height: 34rem;
  }

  .banner--large:not(.banner--mobile-bottom) .banner__content {
    min-height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }

  .banner--small {
    min-height: 42rem;
  }

  .banner--medium {
    min-height: 56rem;
  }

  .banner--large {
    min-height: 72rem;
  }

  .banner__content.banner__content--top-left,
  .banner__content.banner__content--top-left .banner__button-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content.banner__content--top-center .banner__button-wrapper {
    justify-content: center;
  }

  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content.banner__content--top-right .banner__button-wrapper {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-left .banner__button-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-center,
  .banner__content.banner__content--middle-center .banner__button-wrapper {
    align-items: center;
    justify-content: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-right .banner__button-wrapper {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-left .banner__button-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content.banner__content--bottom-left .banner__button-wrapper {
    justify-content: center;
  }

  .banner__content.banner__content--bottom-right,
  .banner__content.banner__content--bottom-right .banner__button-wrapper {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--mobile-bottom .banner__media > img {
    position: relative !important;
    min-height: 24rem;
  }

  .banner.banner--mobile-content:not(.banner--mobile-bottom) .banner__box {
    margin: 2rem;
  }

  .banner:not(.banner--mobile-content):not(.banner--mobile-bottom) .banner__box {
    background-color: transparent !important;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    background-color: transparent;
    --color-foreground: 255, 255, 255;
    --color-button: 255, 255, 255;
    --color-button-text: 0, 0, 0;
  }

  .banner::before {
    display: none !important;
  }
}

.banner__media .placeholder-svg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.banner__content {
  padding: 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    height: 100%;
    min-height: 58rem;
  }

  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__content {
    order: 2;
  }
}

.banner__box {
  border: 0;
  padding: 3.5rem 2rem 4rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}

.banner::after,
.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  background: rgb(var(--color-foreground));
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 5rem;
    width: auto;
    max-width: 71rem;
    min-width: 45rem;
  }
}

@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}

.banner__heading {
  max-width: 50rem;
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.banner__box .banner__heading + * {
  margin: 0.5rem 0 0;
}

@media screen and (max-width: 749px) {
  .banner--content-align-mobile-center .banner__heading {
    margin-left: auto;
    margin-right: auto;
  }
}

.banner__box .banner__text,
.banner__box .banner__text p {
  margin: 0;
}

.banner__box > * + .banner__text * {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 0;
    max-width: 40rem;
  }

  .banner--content-align-left .banner__text,
  .banner--content-align-left .banner__heading {
    margin-left: 0;
    margin-right: auto;
  }

  .banner--content-align-center .banner__text,
  .banner--content-align-center .banner__heading {
    margin-left: auto;
    margin-right: auto;
  }

  .banner--content-align-right .banner__text,
  .banner--content-align-right .banner__heading {
    margin-left: auto;
    margin-right: 0;
  }
}

.banner__box > * + .banner__button {
  margin-top: 3.5rem;
}

.banner__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.banner__button {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 45rem;
  word-break: break-word;
  max-width: fit-content;
}

.banner__button-wrapper .banner__button + .banner__button {
  margin: 2rem 0 0 0;
}

.banner__button-wrapper.side-by-side .banner__button + .banner__button {
  margin: 0 0 0 2rem;
}

.banner__button-wrapper.side-by-side .banner__button-separator {
  margin: 0 2rem;
}


/* Page adjustments */

.faqs-page .banner__heading {
  max-width: initial;
}

.faqs-page .banner,
.faqs-page .banner__content,
.customer-service-page .banner,
.customer-service-page .banner__content {
  min-height: 15rem;
}

@media screen and (min-width: 750px) {
  .faqs-page .banner,
  .faqs-page .banner__content,
  .customer-service-page .banner,
  .customer-service-page .banner__content {
    min-height: 37.9rem;
  }
}
