.social-media-feed header {
  text-align: center;
}

.social-media-feed header > * {
  margin-bottom: 1rem;
}

.social-media-feed .social-media-feed__description p {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-weight: inherit;
}

.social-media-feed .social-media-feed__content {
  margin: 2.5rem 0 2.5rem -2rem;
}

.social-media-feed .grid__item {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .social-media-feed .social-media-feed__content {
    margin: 3.5rem 0 3.5rem -3rem;
  }

  .social-media-feed .grid__item {
    padding-left: 3rem;
  }
}
